html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1rem;
  color: white;
  background-color: #111920;
  line-height: 1.5em;
}

h1 {
  line-height: 1.2em;
}

h1 a,
.hashtags a {
  color: white;
  text-decoration: underline;
}

.hashtags-accordion {
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 2rem;
}

.hashtags-accordion summary {
  cursor: pointer;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  list-style-type: none;
  padding: 2rem;
  margin: 0;
}

.items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  grid-template-rows: masonry;
}

main .item {
  color: #111920;
  background: white;
  border: 1px solid;
  padding: 1.5rem;
  overflow: hidden;
}

main .item__date {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
}

a {
  word-wrap: break-word;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.item__image {
  display: block;
  max-width: 100%;
}

footer {
  color: #111920;
  background: white;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
}
